<div class="site-wrap">
    <div class="hero-wrap bg" style="height: 300px " data-stellar-background-ratio="0.5">
        <div class="overlay "style="height: 300px"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center">
          </div>
        </div>
      </div>

  <section class="ftco-intro">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex">
                <div class="intro aside-stretch d-lg-flex w-100" data-aos="fade-right" data-aos-delay="400">
                    <div class="icon">
                        <a >
                            <img src="assets/img/favicon80.png" class="creative-tim-logo">
                        </a>
                    </div>
                    <div class="text">
                        <h2>Quality Assurance Practices</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <br>
        <br>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/qbg1.jpg); position: relative;">
                       
                    </div>
                </div>
                <div class="col-md-6 wrap-about  ">
                    <div class="bg-light px-3 px-md-5 py-5 ">
              <div class="heading-section">
                <h2 class="mb-3" >We are Patient.</h2>

                <p>We believe that Quality Assurance requires a great deal of patience. For the
                  sake of argument, this specific practice probably requires diligence and precision when it comes
                  to ensuring that what was planned is what is being delivered. It takes the right amount of skills,
                  experience and, last but not the least, an enormous amount of patience to understand how to
                  effectively implement and institutionalize one.</p>
                <p> We have the experience to aid organizations in their respective quality assurance journey;
                     providing consulting services in this particular competency.  We can provide consulting 
                     services in the areas of Quality Management and Testing of off-the-shelf and custom-developed 
                     applications.

                </p>
              </div>

          </div>

                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </section>
</div>  
