<div class="site-wrap">
    <div class="hero-wrap bg" style="height: 300px " data-stellar-background-ratio="0.5">
        <div class="overlay "style="height: 300px"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center">
          </div>
        </div>
      </div>

  <section class="ftco-intro">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex">
                <div class="intro aside-stretch d-lg-flex w-100" data-aos="fade-right" data-aos-delay="400">
                    <div class="icon">
                        <a >
                            <img src="assets/img/favicon80.png" class="creative-tim-logo">
                        </a>
                    </div>
                    <div class="text">
                        <h2>Manpower Engagement</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <br>
    <br>
    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <div class="container">
           
            <div class="row no-gutters">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/10.jpg); position: relative;">
                    </div>
                </div>
                <div class="col-md-6 wrap-about  ">
                    <div class="bg-light px-3 px-md-5 py-5 ">
              <div class="heading-section">

                <h2 class="mb-3" >We Ensure Talents.</h2>
          
                <p>We are bounded and driven by our desire to consistently provide our own brand of service. 
                    It is not just about providing warm bodies but it is imperative for us to consistently ensure
                     the right pool of talents at all phases of our engagement with our customers.  
                     We value experience, skills, orientation and culture.   </p>        
                 
                <p>Ensuring our talents justifies our commitment to our own brand of quality and service. 
                    Our customer’s success is our very own.  We take responsibility and we are serious with it. </p>
              </div>

          </div>

                </div>
            </div>
            <br>
            <br>
            <div class="row no-gutters">
                <div class="col-md-6 wrap-about  ">
                    <div class="bg-light px-3 px-md-5 py-5 ">
                        <div class="heading-section">
                            <p>Our pool of IT practitioners and consultants can provide solid expertise in the following core competencies and domains: </p>
                          </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="services d-flex w-100" data-aos="fade-up">
                                          <div class="icon d-flex align-items-center justify-content-center">
                                            <a class = "ios-group-of-projects"></a>
                                          </div>
                                          <div class="text pl-2">
                                              <h2>Project Management, Quality Assurance & Business Analysis</h2>
                                              <p></p>
                                          </div>
                                      </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="services d-flex w-100" data-aos="fade-up">
                                          <div class="icon d-flex align-items-center justify-content-center">
                                            <a class = "ios-erp"></a>
                                          </div>
                                          <div class="text pl-2">
                                              <h2>Enterprise Applications Planning, Implementation & Optimization</h2>
                                              <p></p>
                                          </div>
                                      </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="services d-flex w-100" data-aos="fade-up">
                                          <div class="icon d-flex align-items-center justify-content-center">
                                            <a class = "ios-product-management"></a>
                                          </div>
                                          <div class="text pl-2">
                                              <h2>Systems & Database Management</h2>
                                              <p></p>
                                          </div>
                                      </div>
                            </div>
                        </div>

                </div>

                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/11.jpg); position: relative;">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </section>    
</div> 