<div class="site-wrap">
    <div class="hero-wrap bg" style="height: 300px " data-stellar-background-ratio="0.5">
        <div class="overlay "style="height: 300px"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center">
          </div>
        </div>
      </div>

  <section class="ftco-intro">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex">
                <div class="intro aside-stretch d-lg-flex w-100" data-aos="fade-right" data-aos-delay="400">
                    <div class="icon">
                        <a >
                            <img src="assets/img/favicon80.png" class="creative-tim-logo">
                        </a>
                    </div>
                    <div class="text">
                        <h2>Consulting & Process <br>Improvement</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <br>
        <br>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/4.jpg); position: relative;">
                       
                    </div>
                </div>
                <div class="col-md-6 wrap-about  ">
                    <div class="bg-light px-3 px-md-5 py-5 ">
              <div class="heading-section">
                <h2 class="mb-3" >We Embrace Change.</h2>

                <p>We believe that despite the extensive experience that we have, we boldly claim that we do not know everything.  
                    It is this claim that we recognize how big the IT universe is.  However, this experience enables us to prove our worth to our customers.  
                </p>
                <p> We may not know at times but we never stop from understanding and looking for answers.  
                    We speak the IT lingo and whatever the other side of the fence offers, we surely will understand.  
                    We are capable of implementing and embracing change.
                </p>
                <p> We can help you assess and improve your current IT-driven processes in the areas of Business Process Re-engineering,
                     Software and Hardware Integration and Digital Transformation among others.
                </p>
              </div>

          </div>

                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </section>
</div>  
