<div class="site-wrap">
    <div class="hero-wrap bg" style="height: 300px " data-stellar-background-ratio="0.5">
        <div class="overlay "style="height: 300px"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center">
          </div>
        </div>
      </div>

  <section class="ftco-intro">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex">
                <div class="intro aside-stretch d-lg-flex w-100" data-aos="fade-right" data-aos-delay="400">
                    <div class="icon">
                        <a >
                            <img src="assets/img/favicon80.png" class="creative-tim-logo">
                        </a>
                    </div>
                    <div class="text">
                        <h2>Custom-built <br>Application Development</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <br>
    <br>
    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/29.jpg); position: relative;">
                       
                    </div>
                </div>
                <div class="col-md-6 wrap-about  ">
                    <div class="bg-light px-3 px-md-5 py-5 ">
              <div class="heading-section">

                <h2 class="mb-3" >Tell us what you need.</h2>
                <p>We’ll listen to what you have in mind, explain to you our technology stack, and let you know our software development capabilities.</p>

                <h2 class="mb-3" >We Shape Your Technology Requirements.</h2>

                <p>Building applications from ground-up normally takes an enormous amount of effort and, presumably, cost.
                      Backed by our solid experience dealing with different technology platforms, banking on our expertise 
                      in project management and software development, further strengthens our cause to help organizations 
                      going this route.  </p>
                <p> It is not easy to build something from scratch.  Risks may materialize along the way but our experience and expertise will help
                     carry us through.From inception to completion and up to the point where support is expected, organizations will feel Quava’s consistent presence. 

                </p>
              </div>

          </div>

                </div>
            </div>
            
        </div>
        <br>
        <br>
        <br>
    </section>
</div>  
