<div class="site-wrap">
    <div class="hero-wrap bg" style="height: 300px " data-stellar-background-ratio="0.5">
        <div class="overlay "style="height: 300px"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center">
          </div>
        </div>
      </div>

  <section class="ftco-intro">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex">
                <div class="intro aside-stretch d-lg-flex w-100" data-aos="fade-right" data-aos-delay="400">
                    <div class="icon">
                        <a >
                            <img src="assets/img/favicon80.png" class="creative-tim-logo">
                        </a>
                    </div>
                    <div class="text">
                        <h2>SYSPRO <br>Espresso</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <br>
    <br>
    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12 wrap-about  " data-aos="fade-right">
                    <div class=" px-3 px-md-5 py-5 ">
                    <div class="heading-section">
                        <h2 class="mb-3" >Mobile ERP. </h2>
                        <p>For product-focused companies, establishing the most appropriate distribution strategy is key to success. 
                            With the Mobile ERP capabilities of SYSPRO Espresso, you can have complete control over the planning and 
                            management of every facet of your business.</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/SYSPRO-EXPRESSO.png); position: relative;">
                    </div>
                </div>
                <div class="col-md-6 wrap-about  ">
                    <div class="bg-light px-3 px-md-5 py-5 ">
              <div class="heading-section">
               
                <h2 class="mb-3" >SYSPRO Expresso</h2>

                <p>The Mobile Technology (Mobile ERP) on which SYSPRO is built provides for agility, ensuring that the software keeps pace with 
                    the growth and direction of business software. It allows for tailoring of the system and the ability to make use of new technologies 
                    to further enhance the user experience.</p>
              </div>

          </div>

                </div>
            </div>
            <br>
            <br>
            <div class="row no-gutters">
                
                <div class="col-md-6 wrap-about  ">
                    <div class="bg-light px-3 px-md-5 py-5 ">
              <div class="heading-section"> 
                <h2 class="mb-3" >Enabling Digital Transformation.   </h2>

                <p>Digital transformation with SYSPRO Espresso provides organizations with seamless end-to-end capabilities. 
                     From every team member of the shop floor, to every member of the sales and administration teams and up 
                     to the cornerstone of every business executive, SYSPRO Espresso delivers and provides real-time access 
                     to business data and information.    </p>
               
                </div>
                </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/qbg3.jpg); position: relative;">
                    </div>
                </div>
            </div>


            <div class="row no-gutters">
                <div class="col-md-12 wrap-about  ">
                    <div class=" px-3 px-md-5 py-5 ">
              <div class="heading-section">
              
                <p>SYSPRO Espresso gives you access to your SYSPRO business information as easily as if you were at your desk.</p>
              </div>

          </div>

                </div>
            </div>


            <div class="row no-gutters">
                <div class="col-md-3 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="bg-light px-3 px-md-5 py-5 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <a class = "ios-business-documentation"></a>
                          </div>
                          <h4>Business Executives</h4>
                      <p>Have easy access to ERP Business data and information, enabling you to keep an eye on business 
                          anywhere and at any time
                      </p>
                      <a href ="">Watch now</a>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="bg-light px-3 px-md-5 py-5 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <a class = "ios-manufacturing"></a>
                          </div>
                          <h4>Factory Floor</h4>
                      <p>Enables improved productivity with supplier and inventory data at your fingertips</p>
                      <a href ="">Watch now</a>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="bg-light px-3 px-md-5 py-5 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <a  class = "ios-sales-performance"></a>
                          </div>
                          <h4>Sales Team</h4>
                      <p>Enables the sales force provide a faster, more accurate customer service</p>
                      <a href ="">Watch now</a>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="bg-light px-3 px-md-5 py-5 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <a  class = "ios-product-management"></a>
                          </div>
                          <h4>Administration</h4>
                     <p>Empower your administrators with SYSPRO Espresso by providing a relevant and personalized work environment</p>
                     <a href ="">Watch now</a>
                    </div>
                </div>
            </div>


            <div class="row no-gutters">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/15.jpg); position: relative;">
                    </div>
                </div>
                <div class="col-md-6 wrap-about  ">
                    <div class=" px-3 px-md-5 py-5 ">
              <div class="heading-section">
                <p>SYSPRO Espresso will work anytime, anyplace, on any popular mobile device – and even on your desktop. 
                    The offline capability of SYSPRO Expresso allows you to use the application even when there is no mobile
                     or wireless signal.
                </p>
              </div>

          </div>

                </div>
            </div>
            
        </div>
        <br>
        <br>
        <br>
    </section>
</div>  




