<div class="hero-wrap" style="height: 300px ;background-image: url('assets/img/quavaTechNow/bg45.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay "style="height: 300px"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center">
        <!-- <div class="col-md-6   d-flex align-items-end" data-aos="fade-right" data-aos-delay="200">
            <div class="text w-100">
              <h1 class="mb-4">We are QuavaTech. Simply, we are Quava.</h1>
              <p class="mb-4">Quality, Value and Technology</p>
              <p><a [routerLink] = "['/home']" fragment = "contactUs" class="btn btn-primary py-3 px-4">Contact us</a> <a [routerLink] = "['/about-us']" class="btn btn-white py-3 px-4">Read more</a></p>
          </div>
        </div> -->
        <!-- <a href="" class="img-video popup-vimeo d-flex align-items-center justify-content-center">
            <span class="fa fa-play"></span>
        </a> -->
      </div>
    </div>
  </div>

  <section class="ftco-intro">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex">
                <div class="intro aside-stretch d-lg-flex w-100" data-aos="fade-right" data-aos-delay="400">
                    <div class="icon">
                        <a >
                            <img src="assets/img/favicon80.png" class="creative-tim-logo">
                        </a>
                    </div>
                    <div class="text">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
