<div class="site-wrap">
    <div class="hero-wrap" style="height: 300px ;background-image: url('assets/img/quavaTechNow/bg2.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay "style="height: 300px"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center">
          </div>
        </div>
      </div>

  <section class="ftco-intro">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex">
                <div class="intro aside-stretch d-lg-flex w-100" >
                    <div class="text">
                        <h2 class = "bold caps">Website Development</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <br>
        <br>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/14.jpg); position: relative;">
                        <!-- <a href="https://vimeo.com/45830194" class="play-video popup-vimeo d-flex align-items-center justify-content-center">
                            <span class="">Learn More</span>
                              </a> -->
                    </div>
                </div>
                <div class="col-md-6 wrap-about  ">
                    <div class="bg-light px-3 px-md-5 py-5 ">
              <div class="heading-section">
                <span class="subheading"></span>
                <h2 class="mb-3" >We Nurture Your Brand.</h2>

                <p>We believe that website development is more than a skill of interpreting the look and feel of how an entity, whether small of big,
                     wants to be represented.  As much as we value a stakeholder’s input, we also give credence to providing our customers with consummate
                      guidance in coming up with a site that will truly demonstrate who they are.</p>
                <p> Tell us what you need.  From basic to database-driven websites, we got you sheltered.

                </p>
              </div>

          </div>

                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </section>
</div>  
