<div class="site-wrap">
    <div class="hero-wrap bg" style="height: 300px " data-stellar-background-ratio="0.5">
        <div class="overlay "style="height: 300px"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center">
          </div>
        </div>
      </div>

  <section class="ftco-intro">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex">
                <div class="intro aside-stretch d-lg-flex w-100" >
                    <div class="text">
                        <h2 class = "bold caps">Project Management Engagement</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <br>
    <br>
    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/16.jpg); position: relative;">
                      
                    </div>
                </div>
                <div class="col-md-6 wrap-about  ">
                    <div class="bg-light px-3 px-md-5 py-5 ">
              <div class="heading-section">

                <h2 class = "mb-3">We walk the talk.</h2>
                <p>We pride ourselves in having considerable amount of relevant experience in dealing with different project management practices and technologies
                  – whether implementing an On-Premise or Cloud application utilizing the customary Waterfall or the contemporary fast-paced Agile methodology.</p>
                 
                <p>Our experience in project management consulting goes beyond the normal project lifecycle.  
                    We help partners and customers alike achieve their goals by helping them understand thoroughly, 
                    analyze systematically and decide prudently on new and evolving technologies.</p>
              </div>

          </div>

                </div>
            </div>

            <br>
            <br>
            <div class="row no-gutters">
                <div class="col-md-6 wrap-about  ">
                    <div class="bg-light px-3 px-md-5 py-5 ">
                        <div class="heading-section">

                            <p>Our founding partners have, altogether, decades of significant experiences delivering small to large scale projects for start-ups, 
                                local and global organizations.  We walk the talk in having established our own professional and personal reputations. To name a few,
                                 we have successfully delivered projects involving the following,</p>
                          </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="services d-flex w-100" data-aos="fade-up">
                                          <div class="icon d-flex align-items-center justify-content-center">
                                            <a class = "ios-erp"></a>
                                          </div>
                                          <div class="text pl-2">
                                              <h2>Enterprise Resource Planning (ERP),</h2>
                                              <p>Human Resources, Finance, Supply Chain</p>
                                          </div>
                                      </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="services d-flex w-100" data-aos="fade-up">
                                          <div class="icon d-flex align-items-center justify-content-center">
                                            <a class = "ios-payroll"></a>
                                          </div>
                                          <div class="text pl-2">
                                              <h2>Back-end Operations,</h2>
                                              <p>Timekeeping & Attendance & Payroll</p>
                                          </div>
                                      </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="services d-flex w-100" data-aos="fade-up">
                                          <div class="icon d-flex align-items-center justify-content-center">
                                            <a class = "ios-pos-terminal"></a>
                                          </div>
                                          <div class="text pl-2">
                                              <h2>Hospitality, Casino operations & Start-ups</h2>
                                              <p>Point-of-Sales (POS), Casino
                                                Management Systems (CMS)</p>
                                          </div>
                                      </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="services d-flex w-100" data-aos="fade-up">
                                          <div class="icon d-flex align-items-center justify-content-center">
                                            <a class = "ios-online-shop"></a>
                                          </div>
                                          <div class="text pl-2">
                                              <h2>E-commerce</h2>
                                              <p>Online Sales</p>
                                          </div>
                                      </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="services d-flex w-100" data-aos="fade-up">
                                          <div class="icon d-flex align-items-center justify-content-center">
                                            <a class = "ios-active-directory"></a>
                                          </div>
                                          <div class="text pl-2">
                                              <h2>Integration of different applications</h2>
                                          </div>
                                      </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="services d-flex w-100" data-aos="fade-up">
                                          <div class="icon d-flex align-items-center justify-content-center">
                                            <a class = "ios-mobile"></a>
                                          </div>
                                          <div class="text pl-2">
                                              <h2>Mobile Applications</h2>
                                          </div>
                                      </div>
                            </div>
                        </div>

                </div>

                </div>
                <div class="col-md-6 d-flex align-items-stretch" >
                    <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/24.jpg); position: relative;">
                      
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </section>    
</div> 