<div class="site-wrap">
<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <p class="mb-0 phone pl-md-2">
                    <a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span> +63 0000000</a> 
                    <a href="#"><span class="fa fa-paper-plane mr-1"></span> admin@quavatechnologies.com</a>
                </p>
            </div>
        </div>
    </div>
</div>


<!-- <div class="hero-wrap" style="background-image: url('assets/img/quavaTechNow/bg45.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center">
        <div class="col-md-6   d-flex align-items-end" data-aos="fade-right" data-aos-delay="200">
            <div class="text w-100">
              <h1 class="mb-4">We are QuavaTech. Simply, we are Quava.</h1>
              <p class="mb-4">Quality, Value and Technology</p>
              <p><a [routerLink] = "['/home']" fragment = "contactUs" class="btn btn-primary py-3 px-4">Contact us</a> <a [routerLink] = "['/about-us']" class="btn btn-white py-3 px-4">Read more</a></p>
          </div>
        </div>
        
      </div>
    </div>
  </div> -->

  <ngb-carousel  
  [showNavigationArrows]="false" 
  [showNavigationIndicators]="true"
  interval="4000"
  [keyboard]="true"
  [pauseOnHover]="true"
  [wrap]="true"
  [activeId]="'firstSlide'">
    <ng-template ngbSlide id="firstSlide">
        <div class="hero-wrap bg-bottom" style="background-image: url('assets/img/quavaTechNow/8.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
              <div class="row no-gutters slider-text align-items-center">
                <div class="col-md-6   d-flex align-items-end" data-aos="fade-right" data-aos-delay="200">
                    <div class="text w-100">
                      <h1 class="mb-4">We are QuavaTech. Simply, we are Quava.</h1>
                      <p class="mb-4">Quality, Value and Technology</p>
                      <p><a [routerLink] = "['/home']" fragment = "contactUs" class="btn btn-primary py-3 px-4">Contact us</a> <a [routerLink] = "['/about-us']" class="btn btn-white py-3 px-4">Read more</a></p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
    </ng-template>
    <ng-template ngbSlide id="secondSlide">
        <div class="hero-wrap bg-bottom" style="background-image: url('assets/img/quavaTechNow/16.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
              <div class="row no-gutters slider-text align-items-center">
                <div class="col-md-6   d-flex align-items-end" data-aos-delay="200">
                    <div class="text w-100">
                      <h1 class="mb-4">What we offer, we have successfully experienced.</h1>
                      <p class="mb-4">Our claim and upkeep are simple</p>
                      <p><a [routerLink] = "['/home']" fragment = "contactUs" class="btn btn-primary py-3 px-4">Contact us</a> <a [routerLink] = "['/about-us']" class="btn btn-white py-3 px-4">Read more</a></p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
    </ng-template>
    <ng-template ngbSlide id="thirdSlide">
        <div class="hero-wrap bg-bottom" style="background-image: url('assets/img/quavaTechNow/13.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
              <div class="row no-gutters slider-text align-items-center">
                <div class="col-md-6   d-flex align-items-end" data-aos-delay="200">
                    <div class="text w-100">
                      <h1 class="mb-4">What we initiate, we labor and harness with substantial information.</h1>
                      <p class="mb-4">We are restless without the very facts</p>
                      <p><a [routerLink] = "['/home']" fragment = "contactUs" class="btn btn-primary py-3 px-4">Contact us</a> <a [routerLink] = "['/about-us']" class="btn btn-white py-3 px-4">Read more</a></p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
    </ng-template>
    <ng-template ngbSlide id="fourthSlide">
        <div class="hero-wrap bg-bottom" style="background-image: url('assets/img/quavaTechNow/6.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
              <div class="row no-gutters slider-text align-items-center">
                <div class="col-md-6   d-flex align-items-end" data-aos-delay="200">
                    <div class="text w-100">
                      <h1 class="mb-4">We don’t sell, we promote Value in our product propositions.</h1>
                      <p class="mb-4">We see change as inevitable</p>
                      <p><a [routerLink] = "['/home']" fragment = "contactUs" class="btn btn-primary py-3 px-4">Contact us</a> <a [routerLink] = "['/about-us']" class="btn btn-white py-3 px-4">Read more</a></p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
    </ng-template>
  </ngb-carousel>

  <!-- <section class="ftco-intro"> 
      <div class="container-fluid">
          <div class="row no-gutters">
              <div class="col-md-3 d-flex">
                  <div class="intro aside-stretch d-lg-flex w-100" data-aos="fade-up" data-aos-delay="400">
                      <div class="icon">
                      
                      </div>
                      <div class="text">
                          <h2>Quality</h2>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 d-flex">
                  <div class="intro color-1 d-lg-flex w-100" data-aos="fade-up" data-aos-delay="800"> 
                      <div class="icon">
                      
                      </div>
                      <div class="text">
                          <h2>Value</h2>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 d-flex">
                  <div class="intro color-2 d-lg-flex w-100" data-aos="fade-up" data-aos-delay="1200">
                      <div class="icon">
                       
                      </div>
                      <div class="text">
                          <h2>Technology</h2>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 d-flex">
                  <div class="intro color-3 d-lg-flex w-100" data-aos="fade-up" data-aos-delay="1600">
                      <div class="text">
                          <h2>“We are QuavaTech. Simply, we are Quava.”</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>  -->
<section class="ftco-intro">
    <div class="slant-1"></div>
    <div class="slant-2"></div>
</section>
  

  <section class="ftco-section ftco-no-pb ftco-no-pt">
          <div class="container">
              <div class="row no-gutters">
                  <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                      <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/16.jpg); position: relative;">
                          <!-- <a href="https://vimeo.com/45830194" class="play-video popup-vimeo d-flex align-items-center justify-content-center">
                              <span class="">Learn More</span>
                                </a> -->
                      </div>
                  </div>
                  <div class="col-md-6 wrap-about  ">
                      <div class="bg-light px-3 px-md-5 py-5 ">
                <div class="heading-section">
                    <span class="subheading">Our claim and upkeep are simple</span>
                  <h2 class="mb-3" >“What we offer, we have successfully experienced.”</h2>

                  <p>We specialize in select product and service offerings in different domains of Information Technology and Communications (ICT).  
                      Our diversity encompasses the very experiences that challenged our founding partners in their respective fields of expertise.  </p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="services d-flex w-100" data-aos="fade-up">
                                  <div class="icon d-flex align-items-center justify-content-center">
                                    <a class = "ios-management"></a>
                                  </div>
                                  <div class="text pl-2">
                                      <h2>Project Management</h2>
                                      <p>We help Business drive Information Technology (IT)</p>
                                  </div>
                              </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services d-flex w-100" data-aos="fade-up">
                                  <div class="icon d-flex align-items-center justify-content-center">
                                    <a class = "ios-process-improvement"></a>
                                  </div>
                                  <div class="text pl-2">
                                      <h2>Consulting & Process Improvements</h2>
                                      <p>We boldly claim that we do not know everything.</p>
                                  </div>
                              </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services d-flex w-100" data-aos="fade-up">
                                  <div class="icon d-flex align-items-center justify-content-center">
                                    <a class = "ios-conference"></a>
                                  </div>
                                  <div class="text pl-2">
                                      <h2>Manpower Engagement</h2>
                                      <p>We are driven to consistently provide our own brand of service. </p>
                                  </div>
                              </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services d-flex w-100" data-aos="fade-up">
                                  <div class="icon d-flex align-items-center justify-content-center">
                                    <a class = "ios-sell"></a>
                                  </div>
                                  <div class="text pl-2">
                                      <h2>Product Offerings</h2>
                                      <p>From off-the-shelf software to applications built from ground up </p>
                                  </div>
                              </div>
                    </div>
                </div>
            </div>

                  </div>
              </div>
          </div>
      </section>

    

      <section class="ftco-section">
      <div class="container">
          <div class="row justify-content-center pb-5">
        <div class="col-md-7 heading-section text-center  ">
            <span class="subheading">We Walk the Talk</span>
          <h2>Services</h2>
        </div>
      </div>
          <div class="row">
              <div class="col-md-4 d-flex align-items-stretch  " data-aos="fade-right">
                  <div class="services-2 text-center">
                      <div class="icon-wrap">
                          <div class="mini-icon d-flex align-items-center justify-content-center"> <a class = "ios-group-of-projects"></a></div>
                          <div class="icon d-flex align-items-center justify-content-center">
                            <a [routerLink] = "['/our-services/project-management']" class = "ios-group-of-projects lg"></a>
                          </div>
                      </div>
                      <h2>Project Management Engagement</h2>
                      <h4>We Walk the Talk</h4><p>We pride ourselves in having experience in dealing
                        with different project management practices and technologies</p>
                  </div>
              </div>
              <div class="col-md-4 d-flex align-items-stretch  " data-aos="fade-up">
                  <div class="services-2 text-center">
                      <div class="icon-wrap">
                          <div class="mini-icon d-flex align-items-center justify-content-center"><a class = "ios-warranty"></a></div>
                          <div class="icon d-flex align-items-center justify-content-center">
                            <a [routerLink] = "['/our-services/quality-assurance']" class = "ios-warranty lg"></a>
                          </div>
                      </div>
                      <h2>Quality Assurance Practices</h2>
                      <h4>We are Patient</h4><p>We believe that Quality Assurance requires a great deal of patience.</p>
                  </div>
              </div>
              <div class="col-md-4 d-flex align-items-stretch  " data-aos="fade-left">
                  <div class="services-2 text-center">
                      <div class="icon-wrap">
                          <div class="mini-icon d-flex align-items-center justify-content-center"><a class = "ios-process-improvement"></a></div>
                          <div class="icon d-flex align-items-center justify-content-center">
                            <a [routerLink] = "['/our-services/consulting']" class = "ios-process-improvement lg"></a>
                          </div>
                      </div>
                      <h2>Consulting & Process Improvements</h2>
                      <h4>We Embrace Change</h4><p>We believe that despite the extensive experience that we have, we boldly claim that we do not know everything.</p>
                  </div>
              </div>
              <div class="col-md-4 d-flex align-items-stretch  " data-aos="fade-right">
                  <div class="services-2 text-center">
                      <div class="icon-wrap">
                          <div class="mini-icon d-flex align-items-center justify-content-center"><a class = "ios-conference"></a></div>
                          <div class="icon d-flex align-items-center justify-content-center">
                            <a [routerLink] = "['/our-services/manpower']" class = "ios-conference lg"></a>
                          </div>
                      </div>
                      <h2>Manpower Engagement</h2>
                      <h4>We Ensure Talents</h4><p>We are bounded and driven by our desire to consistently provide our own brand of service.</p>
                  </div>
              </div>
              <div class="col-md-4 d-flex align-items-stretch  "data-aos="fade-up">
                  <div class="services-2 text-center">
                      <div class="icon-wrap">
                          <div class="mini-icon d-flex align-items-center justify-content-center" ><a class = "ios-prototype"></a></div>
                          <div class="icon d-flex align-items-center justify-content-center" >
                            <a [routerLink] = "['/our-services/website-development']" class = "ios-prototype lg"></a>
                          </div>
                      </div>
                      <h2>Website Development</h2>
                      <h4>We Nurture Your Brand</h4><p>We believe that website development is more than a skill of 
                          interpreting.</p>
                  </div>
              </div>
              <div class="col-md-4 d-flex align-items-stretch  "data-aos="fade-up">
                <div class="services-2 text-center">
                    <div class="icon-wrap">
                        <div class="mini-icon d-flex align-items-center justify-content-center" ><a class = "ios-mockup"></a></div>
                        <div class="icon d-flex align-items-center justify-content-center" >
                          <a [routerLink] = "['/our-services/application-development']" class = "ios-mockup lg"></a>
                        </div>
                    </div>
                    <h2>We Nurture Your Brand</h2>
                    <h4>We Shape Your Requirements</h4><p>Tell us what you need.  We’ll listen to what you have in mind, 
                        and let you know our development capabilities.</p>
                </div>
            </div>
          </div>
      </div>
  </section>

  <section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-fluid px-md-4">
        <div class="row justify-content-center pb-5">
        <div class="col-md-8 text-center heading-section  ">
            <span class="subheading">Industry-built and Future-proof</span>
          <h2 class="mb-3">Products</h2>
        </div>
      </div>
        <div class="row">
            <div class="col-md-3 d-flex align-items-stretch" data-aos="fade-right">
                <div class="case-wrap d-flex">
                    <div [routerLink] = "['/products/syspro-expresso']" class="img" style="background-image: url(assets/img/quavaTechNow/SYSPRO-EXPRESSO.png); background-size: auto">
                        <div class="text">
                            <h2>SYSPRO Expresso</h2>
                            <p>ERP on the go</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="case-wrap d-flex">
                    <div [routerLink] = "['/products/syspro']" class="img" style="background-image: url(assets/img/quavaTechNow/SYSPRO.png);">
                        <div class="text">
                            <h2>SYSPRO</h2>
                            <p>ERP Business Software for Manufacturing and Distribution</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <br>
        <br>
    </div>
  </section>


  <!-- <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 heading-section text-center ">
            <span class="subheading">Blog</span>
          <h2>Recent Blog</h2>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-md-4 d-flex " data-aos="fade-left"  data-aos-delay="400">
            <div class="blog-entry justify-content-end">
            <div class="text text-center">
                <a href="blog-single.html" class="block-20 img d-flex align-items-center" style="background-image: url('assets/img/quavaTechNow/bg45.jpg');">
                    <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
                      <div>
                          <span class="day">20</span>
                          <span class="mos">August</span>
                          <span class="yr">2020</span>
                      </div>
                  </div>
                </a>
              <h3 class="heading mb-3"><a href="#">New SYSPRO release</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex " data-aos="fade-left"  data-aos-delay="800">
            <div class="blog-entry justify-content-end">
            <div class="text text-center">
                <a href="blog-single.html" class="block-20 img d-flex align-items-center" style="background-image: url('assets/img/quavaTechNow/bg45.jpg');">
                    <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
                      <div>
                        <span class="day">20</span>
                        <span class="mos">August</span>
                        <span class="yr">2020</span>
                      </div>
                  </div>
                </a>
              <h3 class="heading mb-3"><a href="#">New SYSPRO release</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex " data-aos="fade-left"  data-aos-delay="1200">
            <div class="blog-entry justify-content-end">
            <div class="text text-center">
                <a href="blog-single.html" class="block-20 img d-flex align-items-center" style="background-image: url('assets/img/quavaTechNow/bg45.jpg');">
                    <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
                      <div>
                        <span class="day">20</span>
                        <span class="mos">August</span>
                        <span class="yr">2020</span>
                      </div>
                  </div>
                </a>
              <h3 class="heading mb-3"><a href="#">New SYSPRO release</a ></h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis..</p>              
                          </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
   

      <section class="ftco-appointment ftco-section img" style="background-image: url(assets/img/bg7-1080x393.jpg);" id = "contactUs">
          <div class="overlay"></div>
      <div class="container">
          <div class="row">
              <div class="col-md-4 pr-md-5">
                  <div class="heading-section heading-section-white">
              <h2 class="mb-3">We hear you. Please let us know.</h2>
              <p>Let’s sit down and further discuss your requirements. Send us a message.</p>
              <p>We’d like to understand better and see where and how we can guide you in your journey.</p>
              <div class="row mt-md-4">
                  <div class="col-lg-12">
                      <div class="services d-flex w-100">
                                  <div class="icon icon-2 d-flex align-items-center justify-content-center">
                                      <a class="ios-management"></a>
                                  </div>
                                  <div class="text pl-3">
                                      <h2>Privacy Policy</h2>
                                      <p>And by the way, the information you provide to QUAVATECH is only used for communication with you directly. For further information, please see our Privacy Policy.
                                       </p>
                                  </div>
                              </div>
                  </div>
              </div>
                  </div>
              </div>
              <div class="col-md-8 half ">
                  <h2 class="mb-4 secondary">Contact Us</h2>
                  <form action="#" class="appointment">
                      <div class="row">
                              <div class="col-md-4">
                                  <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Last Name">
                              </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Company Email">
                              </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Contact Number">
                              </div>
                               </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Company Name">
                            </div>
                          </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-field">
                                        <div class="select-wrap">
                                <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                <select name="" id="" class="form-control">
                                    <option value="">- Select a Product or Service -</option>
                                  <option value="">Project Management Engagement</option>
                                  <option value="">Quality Assurance Practices</option>
                                  <option value="">Consulting & Process Improvements</option>
                                  <option value="">Manpower Engagement</option>
                                  <option value="">Website Development</option>
                                  <option value="">Custom-built App Development</option>
                                  <option value="">SYSPRO</option>
                                  <option value="">SYSPRO Expresso</option>
                                </select>
                              </div>
                                            </div>
                          </div>
                            </div>
                             
                              <div class="col-md-12">
                                  <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                      </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="form-group">
                        <input type="submit" value="Send message" class="btn btn-primary py-3 px-4">
                      </div>
                              </div>
                      </div>
            </form>
              </div>
          </div>
      </div>
  </section>
</div>
 