<div class="site-wrap">
    <div class="hero-wrap bg" style="height: 300px " data-stellar-background-ratio="0.5">
        <div class="overlay "style="height: 300px"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center">
          </div>
        </div>
      </div>

  <section class="ftco-intro">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex">
                <div class="intro aside-stretch d-lg-flex w-100" >
                    <div class="text">
                        <h2 class = "bold caps">SYSPRO Enterprise Resource Planning</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <br>
    <br>
    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <div class="container">
            <div class="row no-gutters">
                
                <div class="col-md-6 wrap-about  ">
                    <div class="bg-light px-3 px-md-5 py-5 ">
              <div class="heading-section">
                <span class="subheading"> Industry-built & Future-proof.</span>
                <h2 class="mb-3" >SYSPRO ERP</h2>

                <p>SYSPRO is an industry-built Enterprise Resource Planning (ERP) solution designed to simplify business complexity for manufacturers and distributors.</p>
                <p> SYSPRO’s strengths lie in a simplified approach to technology, and a commitment to both customer and partner success. With 40 years of solving
                     manufacturing and distribution business challenges built into SYSPRO’s flexible ERP software and proven services, SYSPRO is easy to do business 
                     with and is focused on delivering increased business performance and reduced risk.
                </p>
                <p>
                    The SYSPRO software solution aspires to exceed customer requirements, is highly scalable, and can be deployed on-premise, in the cloud, 
                    or accessed from a mobile device. Future-proof your business and experience the power of simplicity.
                </p>
              </div>

          </div>

                </div>

                <div class="col-md-6 d-flex align-items-stretch" >
                    <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/sys1.png); position: relative; background-position: right !important;">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row no-gutters">
                
                <div class="col-md-6 wrap-about  ">
                    <div class="bg-blue px-3 px-md-5 py-5 ">
              <div class="heading-section">
                
                <span class="subheading"> Not all are created equal.  </span>

                <p>SYSPRO is focused on trust and industry innovation—we always put the unique needs of each customer at the forefront. </p>
                   <p> SYSPRO’s powerful features and rapid deployment methodology are unmatched. The depth of software 
                       functionality makes us an excellent fit for a number of selected manufacturing and distribution industries,
                        including food and beverage, machinery and equipment, electronics, fabricated metals, automotive and many more. 
                        Explore some of the trending topics in our thought leadership blog.</p>
               
                </div>
                </div>
                </div>

                <div class="col-md-6 wrap-about  ">
                    <div class="bg-light px-3 px-md-5 py-5 ">
              <div class="heading-section">
               
                <span class="subheading"> Become a customer for life. </span>

                <p>What sets SYSPRO software apart from other ERP vendors is an unwavering, long-term focus on the manufacturing 
                    and distribution sectors, a practical approach to technology and a passionate commitment to simplifying business 
                    to increase success for partners and customers. We are dedicated to making every customer a customer for life.
                </p>
              </div>

          </div>

                </div>
            </div>
            <br>
            <br>
            <div class="row no-gutters">
                <div class="col-md-6 d-flex align-items-stretch">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/R0Fy6MKZwZw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="col-md-6 wrap-about  ">
                    <div class="bg-blue px-3 px-md-5 py-5 ">
              <div class="heading-section">
               
                <span class="subheading"> INFINITE POSSIBILITIES </span>

                <p>SYSPRO is a continually-evolving, industry-specific, ERP solution designed to simplify complexity 
                    and add significant value to Manufacturers and Distributors. SYSPRO’s powerful new features integrated 
                    with the latest innovative technologies, paves the way to digitalizing your business and streamlining 
                    your supply chain, providing greater control and visibility, while simplifying and personalizing your experience.
                </p>
              </div>

          </div>

                </div>
                
            </div>
            
        </div>
        <br>
        <br>
        <br>
    </section>
</div>  


