<div class="site-wrap">
    <div class="hero-wrap bg" style="height: 300px " data-stellar-background-ratio="0.5">
        <div class="overlay "style="height: 300px"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center">
          </div>
        </div>
      </div>

  <section class="ftco-intro">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex">
                <div class="intro aside-stretch d-lg-flex w-100" data-aos="fade-right" data-aos-delay="400">
                    <div class="icon">
                        <a >
                            <img src="assets/img/favicon80.png" class="creative-tim-logo">
                        </a>
                    </div>
                    <div class="text">
                        <h2>SYSPRO Enterprise Resource Planning</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <br>
    <br>
    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12 wrap-about  " data-aos="fade-right">
                    <div class=" px-3 px-md-5 py-5 ">
                    <div class="heading-section">
                        <h2 class="mb-3" >Industry-built & Future-proof.</h2>
                        <p>SYSPRO is an industry-built Enterprise Resource Planning (ERP) solution designed to simplify business complexity for manufacturers and distributors.</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/SYSPRO.png); position: relative;">
                    </div>
                </div>
                <div class="col-md-6 wrap-about  ">
                    <div class="bg-light px-3 px-md-5 py-5 ">
              <div class="heading-section">
              
                <h2 class="mb-3" >SYSPRO</h2>

                <p>SYSPRO’s strengths lie in a simplified approach to technology, and a commitment to both customer and partner success. 
                    With 40 years of solving manufacturing and distribution business challenges built into SYSPRO’s flexible ERP software and proven services, 
                    SYSPRO is easy to do business with and is focused on delivering increased business performance and reduced risk.   </p>
                <p> The SYSPRO software solution aspires to exceed customer requirements, is highly scalable, and can be deployed on-premise, 
                    in the cloud, or accessed from a mobile device. Future-proof your business and experience the power of simplicity.
                </p>
              </div>

          </div>

                </div>
            </div>
            <br>
            <br>
            <div class="row no-gutters">
                
                <div class="col-md-6 wrap-about  ">
                    <div class="bg-light px-3 px-md-5 py-5 ">
              <div class="heading-section">
                
                <h2 class="mb-3" >Not all are created equal.  </h2>

                <p>SYSPRO is focused on trust and industry innovation—we always put the unique needs of each customer at the forefront. 
                    SYSPRO’s powerful features and rapid deployment methodology are unmatched. The depth of software functionality makes
                     us an excellent fit for a number of selected manufacturing and distribution industries, including food and beverage,
                      machinery and equipment, electronics, fabricated metals, automotive and many more. Explore some of the trending topics 
                      in our thought leadership blog.</p>
               
                </div>
                </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/12.jpg); position: relative;">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row no-gutters">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/15.jpg); position: relative;">
                    </div>
                </div>
                <div class="col-md-6 wrap-about  ">
                    <div class="bg-light px-3 px-md-5 py-5 ">
              <div class="heading-section">
               
                <h2 class="mb-3">Become a customer for life.  </h2>

                <p>What sets SYSPRO software apart from other ERP vendors is an unwavering, long-term focus on the manufacturing and distribution sectors,
                     a practical approach to technology and a passionate commitment to simplifying business to increase success for partners and customers.
                      We are dedicated to making every customer a customer for life.
                </p>
              </div>

          </div>

                </div>
            </div>
            
        </div>
        <br>
        <br>
        <br>
    </section>
</div>  


