<div class="site-wrap">
<div class="hero-wrap bg" style="height: 300px " data-stellar-background-ratio="0.5">
    <div class="overlay "style="height: 300px"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center">
      </div>
    </div>
  </div>

  <section class="ftco-intro">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex">
                <div class="intro aside-stretch d-lg-flex w-100" >
                    <div class="text">
                        <h2 class = "bold caps">About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <br>
        <br>
        <div class="container">

            <div class="row no-gutters">
                <div class="col-md-6 wrap-about  ">
                    <div class="bg-light px-3 px-md-5 py-5 ">
                        <div class="heading-section">
                            <span class="subheading">WE ARE QUAVA</span>
                            <h2 class="mb-3" >“We walk the talk.”</h2>
          
                            <p> <a class="bold">Quava Technologies, Inc.</a> is an Information Technology service provider. We specialize in select product 
                              and service offerings in different domains of Information Technology and Communications
                              (ICT).
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch" >
                    <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/quavaTechNow/BG12.jpg); position: relative;">
                    </div>
                </div>
            </div>

          
            <div class="row no-gutters">
                <div class="col-md-6 d-flex align-items-stretch" >
                    <div class="bg-blue px-3 px-md-5 py-5 ">
                        <div class="heading-section">
                            <span class="subheading">Our claim & upkeep are simple</span>
                          <h2 class="mb-3" >“What we offer, we have successfully experienced.”</h2>
          
                          <p>
                              Our diversity encompasses the very experiences that challenged our founding partners in their respective fields of expertise.</p>

                              <span class="subheading">We see change as inevitable</span>
                              <h2 class="mb-3" >“We don’t sell, we promote Value in our product propositions.”</h2>
                        
          
                          <p>Our product offerings – from off-the-shelf software, custom-built applications to different consulting services that we provide – are agnostic. 
                               We promote a stable list that we believe can help sustain business growth but at the same time, being open to the demands of the nature of 
                               competition and the fast-changing world of Information Technology.  </p>
                        </div>
          
                        
                    </div>
                </div>
                <div class="col-md-6 wrap-about ">
                    <div class="bg-light px-3 px-md-5 py-5 " >
                        <div class="heading-section">
                            <span class="subheading">We are restless without the very facts</span>
                          <h2 class="mb-3" >“What we initiate, we labor & harness with substantial information.”</h2>
          
                          <p>At the core front of our service engagement is our Project Management expertise. We help business drive Information Technology (IT) in 
                              order to attain significant decisions in addressing key organizational concerns while sustaining and improving operational excellence 
                              and creating a competitive advantage in their respective core competencies. </p> <p> Part of this includes our strong mandate for an 
                              institutionalized Quality Assurance (QA) practice.  Our bandwagon just doesn’t initiate a project.  We make sure that business 
                              stakeholders are provided with clear and unadulterated facts and relevant information before embarking on a decision. </p>
                        </div>

              
          </div>

                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-12 d-flex align-items-stretch" >
                    <div class="bg-blue px-3 px-md-5 py-5 ">
                        <div class="heading-section">
                            
                        </div>
          
                        
                    </div>
                </div>
                
            </div>

            <!-- <div class="row no-gutters">
                <div class="col-md-12 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="300">
                    <div class="bg-blue px-3 px-md-5 py-5 ">
                        <div class="heading-section">
                            <span class="subheading"></span>
                          <h2 class="mb-3" >Partners and Leadership</h2>
          
                          <p>Our product offerings – from off-the-shelf software, applications built from ground up to different consulting services that we can offer – 
                              are agnostic. We promote a stable list that we believe can help sustain business growth but at the same time, being open to the demands of 
                              the ever-changing world of Information Technology.</p>
                        </div>
          
                        
                    </div>
                </div>
                
            </div> -->
        </div>
    </section>    

        <!-- <div class="section section-dark text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Henry Ford</h4>
                                        <h6 class="card-category">CEO</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                                </p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Sophie West</h4>
                                        <h6 class="card-category">CEO</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                                </p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Robert Orben</h4>
                                        <h6 class="card-category">CEO</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
</div>
