<footer class="ftco-footer">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-12 col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2 logo"><a class = "bold" >QuavaTech</a></h2>
            <p style="font-size:15px">“We walk the Talk.”</p>
            <ul class="ftco-footer-social list-unstyled mt-2">
              <li ><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li ><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li ><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Explore</h2>
            <ul class="list-unstyled">
              <li><a [routerLink] = "['/home']"><span class="fa fa-chevron-right mr-2"></span>Home</a></li>
              <li><a [routerLink] = "['/home']" fragment = "services"><span class="fa fa-chevron-right mr-2"></span>Services</a></li>
              <li><a [routerLink] = "['/home']" fragment = "products"><span class="fa fa-chevron-right mr-2"></span>Products</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Company</h2>
            <ul class="list-unstyled">
              <li><a [routerLink] = "['/about-us']" ><span class="fa fa-chevron-right mr-2"></span>About Us</a></li>
              <!-- <li><a [routerLink] = "['/home']" fragment = "contactUs"><span class="fa fa-chevron-right mr-2"></span>Blog</a></li> -->
              <li><a [routerLink] = "['/home']" fragment = "contactUs"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2 contact-us">Contact Us</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon fa fa-map-pin marker"></span>Ortigas Center, Pasig City <br> Philippines</li>
                  <li><span class="icon fa fa-phone"></span>+639156902940</li>
                  <li><span class="icon fa fa-paper-plane"></span><a href="mailto:info@quavatechnologies.com" >info@quavatechnologies.com</a></li>
                </ul>
              </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="container-fluid px-0 py-2 ">
      <div class="mb-3 d-flex align-items-center justify-content-center">
       Quava Technologies, Inc. &copy;2020
      </div> 
    </div>
  </footer>